#work_title{
	margin-right: auto;
}
#profile_image{
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
}
figure {
    display: inline-block;
/*    border: 1px dotted gray;
*/    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
/*    border: 1px dotted blue;
*/    text-align: center;
}
#project_files{
	float: left;
}

.my-thumbnail img{
	height: 200px;
	width: 200px;
}